

  <div id="container">
    <h1>Add Contact</h1>
    <form action="" method="post" id="customtheme">
      <p>
        <label for="firstname">First name</label>
        <input type="text" name="firstname" id="firstname" placeholder="First Name"/>
      </p>

      <p>
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" id="lastname" placeholder="Last Name"/>
      </p>

      <p>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="email@foo.net"/>
      </p>

      <p>
        <input type="button" name="submit" value="Submit" id="submitbutton"/>
      </p>
    </form>
  </div>

<h1>Home Page</h1>

<fieldset>
  <legend>New Player</legend>
  <input type="text" id="jersey" placeholder="Jersey Number"><br>
  <input type="text" id="position" placeholder="Position?"><br>
  <input type="text" id="weight" placeholder="How fat is he?"><br>
  <button id="new_player">New Player</button><br>
</fieldset>
<div id="results">
  <table id="contacts">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
