<div id="mainmenu" class="container">
  <h1>Main menu</h1>

  <ul>
    <li><a id="new"  href="/">new - Create a new contact</a></li>
    <li><a id="list" href="/">list - List all contacts</a></li>
    <li><a id="show" href="/">show - Show a contact</a></li>
    <li><a id="find" href="/">find - Find a contact</a></li>
    <li><a id="3rdpartyapi" href="/">Get 3rd party API data using AJAX</a></li>

  </ul>
</div>

<p id="message"> message place holder </p>

<div id="results">
  <table id="contacts">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
